@import"nib"
@import"typographic"

rupture.scale = 0 400px 650px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Bitter|Ubuntu|Source+Sans+Pro|Acme|Raleway|Roboto|Poppins');
typographic()
t-present(1)





.row1
  width 100%
  height 80px
  background: #001a71


.row2
  background url("../img/airdrop.png") no-repeat
  background-size cover
  min-height 400px
  width 100%


